:root {
    --font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

    --primary-gradient: #2A4F47;
    --secondary-gradient: #6A8F7B;
   
    --primary-dark: #1B3D36;
    --primary-medium: #4E695C;

    --secondary-blue-gray: #587C7C;
    --secondary-green-gray: #89A199;

    --text-light: #EDEDEB;
    --text-medium: #D3D7D4;

    --accent-yellow: #FFDD87;
    --accent-green: #A1D88F;
}

body {
    background-color: var(--primary-dark);
    color: var(--text-light);
}

header nav ul li a {
    color: var(--text-light);
}

.intro-content h1 {
    color: var(--text-light);
}

.intro-content h2, .tagline {
    color: var(--secondary-blue-gray);
}

.cta-button {
    background-color: var(--accent-green);
    color: var(--primary-dark);
}

.cta-button:hover {
    background-color: var(--accent-yellow);
}

body {
    font-family: var(--font-family);
    --background-gradient: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: var(--text-color);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* Define rolagem vertical com "snap" obrigatório */
    height: 100%;

}
section {
    scroll-snap-align: start; /* Alinha a rolagem ao início de cada seção */
    min-height: 100vh; /* Cada seção ocupa a tela inteira */
}
/* Navigation Bar */
header {
    position: fixed;
    width: 100%;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    background: transparent;
    transition: background 0.3s ease;
    z-index: 1000;
  }
  
  header.scrolled {
    background: rgba(0, 0, 0, 0.7);
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  header nav ul li a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 6px;
    transition: background 0.3s ease;
  }
  header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  #github-link {
    color: var(--text-light);
    position: absolute;
    left: 20px; /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre o ícone e o texto */
    font-weight: bold;
}

/* Intro Section */
.intro {
    background: url('../src/introbackground.webp') center/cover no-repeat;
    position: relative;
    padding: 80px 20px;
    color: #f3f4fa;
}

.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Suaviza a imagem de fundo */
    z-index: 1;
}

.intro::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; /* Altura da transição */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--primary-dark) 100%);
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #1b3c35 100%); /* Transição para o fundo */
    z-index: 1;
}


.intro-content {
    max-width: 1200px; /* Ajuste conforme necessário para alinhar com as outras seções */
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 0 20px; /* Adiciona espaçamento nas laterais */
    position: relative;
    z-index: 2;
}


.imageprofile {
    width: 150px;
    height: 150px;
    background: url('path_to_profile_image.jpg') center/cover; /* Replace with your image path */
    border-radius: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}
.profileimage img {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: 150px;
    border-radius: 50%; /* Para arredondar */
    object-fit: cover; /* Ajusta a imagem para caber dentro da moldura sem distorção */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}

.intro-content h1 {
    font-size: 1.2em; /* Menor que o original */
    font-weight: normal; /* Deixa mais leve */
    color: #dcdff5; /* Cor suave */
    margin-bottom: 5px;
}


.intro-content h2 {
    font-size: 1.8em;
    color: #dcdff5; /* Light blue text */
    margin-bottom: 20px;
}

.tagline {
    font-style: italic;
    color: #b0b7d9; /* Softer blue */
    font-size: 1.2em;
    margin-bottom: 40px;
}

.cta-button {
    background-color: var(--accent-green);
    color: var(--primary-dark);
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 1.1em;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: var(--accent-yellow);
    color: var(--primary-dark);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 59, 59, 0.3);
  }


/* Quick Links */
.quick-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap; /* Permite quebrar linha em telas menores */
}

.quick-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: var(--text-color);
    text-decoration: none;
}

.quick-links a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.3);
}


/* Contêiner dos links de redes sociais */
.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.social-links a {
    color: var(--text-light); /* Cor padrão dos ícones */
    font-size: 3em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
    color: var(--accent-yellow); /* Cor de destaque ao passar o mouse */
    transform: scale(1.1);
}

#translate-link {
    position: absolute;
    margin-left: auto; /* Empurra o link para a direita */
    right: 50px;
    top: 10px;
    font-size: 1em;
    text-decoration: none;
    display: inline;
    align-items: center;
    gap: 5px;
    transition: color 0.3s ease;
}

#translate-link:hover {
    color: #007acc; /* Cor de destaque no hover */
}


/* Research, Teaching, Projects Cards */
.section h2 {
    font-size: 2.5em;
    color: #f3f4fa;
    margin-bottom: 30px;
}

.section p {
    max-width: 800px;
    margin: 0 auto 40px;
    color: #dcdff5;
    font-size: 1.2em;
}
.section {
    padding: 100px 20px;
  }
  
  .section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
  }
  
  .section p {
    max-width: 800px;
    margin: 0 auto 60px;
    font-size: 1.2em;
  }

.research, .teaching, .projects {
    background: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    max-width: 1000px;
}


.research-list, .project-list {
    display: flex;
    overflow-x: hidden;
    padding: 10px;
    gap: 20px;
}

.publication, .repository {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent for depth */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    min-width: 250px;
    max-width: 300px;
    max-height: 260px;
    padding: 20px;
    flex-shrink: 0;
    color: #f3f4fa;
}

.publication:hover, .repository:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.publication img, .repository img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.scroll-btn {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: var(--text-color);
    font-size: 1.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.scroll-left {
    left: 0px; /* Ajuste conforme necessário */
}

.scroll-right {
    right: -90%; /* Ajuste conforme necessário */
}

.scroll-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-50%) scale(1.1);
}

.scroll-btn i {
    pointer-events: none;
}

/* Project */

/* Contêiner de projetos com scroll horizontal e snap scrolling */
.project-list {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory; /* Snap scrolling horizontal */
    gap: 20px;
    padding: 20px;
    max-width: 100%;
}

.repository {
    scroll-snap-align: center; /* Alinha cada item ao centro ao rolar */
    background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    min-width: 300px; /* Define a largura mínima para cada item */
    flex-shrink: 0; /* Evita que o item seja redimensionado */
    padding: 20px;
    text-align: center;
    color: #f3f4fa;
}

.repository:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

  footer {
    text-align: center;
    padding: 40px 20px;
    background: rgba(0, 0, 0, 0.7);
    color: var(--text-color);
  }


.scroll-btn:hover, .quick-links a:hover {
    animation: pulse 0.5s;
}

/* Responsive */

  @media (max-width: 768px) {
    .intro-content h1 {
      font-size: 2em;
    }
    .intro-content h2 {
      font-size: 1.5em;
    }
    .project-list {
      grid-template-columns: 1fr;
    }
    .scroll-btn {
        width: 40px;
        height: 40px;
        font-size: 1.2em;
    }
    .intro-buttons {
        flex-direction: column;
        align-items: center;
    }
    
    .quick-links {
        gap: 15px;
    }

    .quick-links a {
        width: 50px;
        height: 50px;
    }
  }
